# 투자 성향 클러스터링
- invest_session_id 
- child_id 
- sex 
- age 
- chapter_id
- trade_participation_turn (거래 참여 턴 개수)
- num_of_transaction (거래 횟수, +/- 클릭 횟수)
- avg_cash_ratio (평균 현금잔여율)
- turn_dwell_time (평균 턴 체류시간)
- buy_sell_ratio (고/중/저 구매/판매 비율)
- tag_turn_dwell_time (평균 tag 뉴스 발생 턴 체류시간)
- risk_tolerance (위험 감수율)
- bet_success_rate (배팅 성공율)

Child (PostgreSQL)
- child_id
- sex
- age

InvestHistory (MongoDB)
- invest_session_id
- chapter_id
- child_id
- turn
- risk_level
- current_point
- before_value
- current_value
- initial_value
- number_of_shares
- income
- transaction_type
tag추가

# MongoDB에서 바로 DataFrame으로 가져오기

In [110]:
from pymongo import MongoClient
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv(override=True)

uri = os.getenv("MONGO_URI")
db_name = os.getenv("MONGO_DB_NAME")
collection_name = os.getenv("COLLECTION_NAME")

client = MongoClient(uri)
db = client[db_name]
collection = db[collection_name]

# MongoDB에서 데이터 불러오기
data = list(collection.find())

# DataFrame으로 변환
df = pd.DataFrame(data)

In [116]:
df.head()

,_id,investSessionId,chapterId,childId,turn,riskLevel,currentPoint,beforeValue,currentValue,initialValue,numberOfShares,income,transactionType,plusClick,minusClick,startedAt,endedAt,_class
0,b'oI\xae\x87\xbdcU\xc1\xe5}\xa5\x8d5\xba\\\xb2',b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',1111,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,고위험 고수익,900,0,100,100,5,0,BUY,5,0,2025-06-10 13:55:14,2025-06-10 13:55:18,com.popoworld.backend.invest.entity.InvestHistory
1,b'4J\x1f\xc6\xaf\xfdw[F\xf1\x97\x80\x8dS\x8e\x99',b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',1111,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,균형형,900,0,100,100,3,0,BUY,3,0,2025-06-10 13:55:14,2025-06-10 13:55:18,com.popoworld.backend.invest.entity.InvestHistory
2,b'\x81J\xf4\xad\xc3_\x01\x95!\x95\x07\x1b(\xf9...,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',1111,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,장기 안정형,900,0,100,100,3,0,BUY,3,0,2025-06-10 13:55:14,2025-06-10 13:55:18,com.popoworld.backend.invest.entity.InvestHistory
3,b'\xbbO\x1b\xb4j<\x81\x9f>\x08\x1b\x07z\xeb@\xb5',b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',1111,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,균형형,1670,100,110,100,1,20,SELL,0,2,2025-06-10 13:55:18,2025-06-10 13:55:22,com.popoworld.backend.invest.entity.InvestHistory
4,b':BtFH\xba\r%w.\xcfo1A\x0f\x92',b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',1111,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,고위험 고수익,1670,100,90,100,1,-40,SELL,0,4,2025-06-10 13:55:18,2025-06-10 13:55:22,com.popoworld.backend.invest.entity.InvestHistory

# PostgreSQL에서 DataFrame으로 가져오기

In [117]:
import pandas as pd
from dotenv import load_dotenv
import os
import psycopg2

load_dotenv(override=True)

# PostgreSQL 연결 정보
conn = psycopg2.connect(
    host=os.getenv("DB_HOST"),
    port=os.getenv("DB_PORT"),          
    dbname=os.getenv("DB_NAME"), 
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD") 
)

# SQL 쿼리 실행 후 DataFrame으로 불러오기
s_query = "SELECT chapter_id, seed_money FROM invest_chapter;"
# c_query = "SELECT child_id, sex, age FROM child;"
seed = pd.read_sql(s_query, conn)
# child = pd.read_sql(c_query, conn)

# 연결 종료
conn.close()

# 결과 확인
print(seed.head())
# print(child.head())

  chapter_id  seed_money
0       1111         700
1       2222        2000
2       3333        5000
3       4444       10000

/tmp/ipykernel_91247/1880552881.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  seed = pd.read_sql(s_query, conn)

In [118]:
seed.rename(columns={'chapter_id': 'chapterId'}, inplace=True)
seed.rename(columns={'seed_money': 'seedMoney'}, inplace=True)
seed.head()

  chapterId  seedMoney
0      1111        700
1      2222       2000
2      3333       5000
3      4444      10000

# 거래참여 턴 개수

In [119]:
tpt = df[['investSessionId', 
          'childId',
          'turn',
          'riskLevel',
          'transactionType']].copy()

tpt.head()

,investSessionId,childId,turn,riskLevel,transactionType
0,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,고위험 고수익,BUY
1,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,균형형,BUY
2,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,장기 안정형,BUY
3,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,균형형,SELL
4,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,고위험 고수익,SELL

In [120]:
hold_flags = tpt.groupby(['investSessionId', 'childId', 'turn'])['transactionType'].apply(lambda x: int((x != "KEEP").any())).reset_index(name="notAllKeep")
hold_flags.head()

,investSessionId,childId,turn,notAllKeep
0,b'BK8G\xda\x03\x1e\xe3\xf4\x16o\x97I\x88S\x99',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,1
1,b'BK8G\xda\x03\x1e\xe3\xf4\x16o\x97I\x88S\x99',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,1
2,b'BK8G\xda\x03\x1e\xe3\xf4\x16o\x97I\x88S\x99',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",3,1
3,b'BK8G\xda\x03\x1e\xe3\xf4\x16o\x97I\x88S\x99',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",4,0
4,b'BK8G\xda\x03\x1e\xe3\xf4\x16o\x97I\x88S\x99',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",5,0

In [121]:
tradingTurn = hold_flags.groupby(['investSessionId', 'childId'])['notAllKeep'].mean().reset_index(name="avgNotKeep")
tradingTurn.head()

,investSessionId,childId,avgNotKeep
0,b'BK8G\xda\x03\x1e\xe3\xf4\x16o\x97I\x88S\x99',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",0.428571
1,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",0.571429

# 거래횟수

In [122]:
nt = df[['investSessionId', 
          'turn',
          'riskLevel',
          'plusClick',
          'minusClick']].copy()

nt['click'] = nt['plusClick'] + nt['minusClick']

nt.head()

,investSessionId,turn,riskLevel,plusClick,minusClick,click
0,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',1,고위험 고수익,5,0,5
1,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',1,균형형,3,0,3
2,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',1,장기 안정형,3,0,3
3,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',2,균형형,0,2,2
4,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',2,고위험 고수익,0,4,4

In [123]:
transactionNum = nt.groupby('investSessionId')[['click']].mean().reset_index()
transactionNum.head()

                                     investSessionId     click
0     b'BK8G\xda\x03\x1e\xe3\xf4\x16o\x97I\x88S\x99'  3.285714
1  b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80'  1.761905

# 평균 현금잔여율

In [124]:
acr = df[['investSessionId', 
          'chapterId',
          'turn',
          'currentValue']].copy()

acr = acr.groupby(['investSessionId', 'chapterId', 'turn'])['currentValue'].mean().reset_index(name='avgCurrentValue')

acr.head()
acr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   investSessionId  14 non-null     object
 1   chapterId        14 non-null     object
 2   turn             14 non-null     int64
 3   avgCurrentValue  14 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 576.0+ bytes

In [125]:
acr_merged = acr.merge(seed, on='chapterId', how='left')
acr_merged.head()
acr_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   investSessionId  14 non-null     object
 1   chapterId        14 non-null     object
 2   turn             14 non-null     int64
 3   avgCurrentValue  14 non-null     float64
 4   seedMoney        14 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 688.0+ bytes

In [126]:
acr_merged['diff'] = acr_merged['seedMoney'] - acr_merged['avgCurrentValue']

averageCashRatio = acr_merged.groupby('investSessionId')['diff'].mean().reset_index(name="avgDiff")

averageCashRatio.head()

                                     investSessionId     avgDiff
0     b'BK8G\xda\x03\x1e\xe3\xf4\x16o\x97I\x88S\x99'  603.809524
1  b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80'  603.809524

# 평균 턴 체류시간

In [127]:
# 평균 턴 체류시간
turn = df[['investSessionId', 
                'turn',
                'startedAt',
                'endedAt']].copy()

In [128]:
avgStayTime = turn.drop_duplicates(subset=['investSessionId', 'turn']).copy()

In [129]:
avgStayTime['stayTime'] = (avgStayTime['endedAt'] - avgStayTime['startedAt']).dt.total_seconds()
avgStayTime.drop(columns=['startedAt', 'endedAt'], inplace=True)

avgStayTime = avgStayTime.groupby('investSessionId')['stayTime'].mean().reset_index(name='avgStayTime')

# 전체 병합

In [130]:
merged = tradingTurn.merge(transactionNum, on='investSessionId', how='inner').merge(averageCashRatio, on='investSessionId', how='inner').merge(avgStayTime, on='investSessionId', how='inner')
merged.head()

,investSessionId,childId,avgNotKeep,click,avgDiff,avgStayTime
0,b'BK8G\xda\x03\x1e\xe3\xf4\x16o\x97I\x88S\x99',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",0.428571,3.285714,603.809524,4.285714
1,b'LIzf\x1c\x0e\x13\x1c\xa7\x01\xee\xc8\x88G2\x80',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",0.571429,1.761905,603.809524,3.714286

In [ ]:
merged_with_childId = merged