# 투자 성향 클러스터링
- invest_session_id 
- child_id 
- sex 
- age 
- chapter_id
- trade_participation_turn (거래 참여 턴 개수)
- num_of_transaction (거래 횟수, +/- 클릭 횟수)
- avg_cash_ratio (평균 현금잔여율)
- turn_dwell_time (평균 턴 체류시간)
- buy_sell_ratio (고/중/저 구매/판매 비율)
- tag_turn_dwell_time (평균 tag 뉴스 발생 턴 체류시간)
- risk_tolerance (위험 감수율)
- bet_success_rate (배팅 성공율)

Child (PostgreSQL)
- child_id
- sex
- age

InvestHistory (MongoDB)
- invest_session_id
- chapter_id
- child_id
- turn
- risk_level
- current_point
- before_value
- current_value
- initial_value
- number_of_shares
- income
- transaction_type
tag추가

# MongoDB에서 바로 DataFrame으로 가져오기

In [ ]:
from pymongo import MongoClient
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()

uri = os.getenv("MONGO_URI")
db_name = os.getenv("DB_NAME")
collection_name = os.getenv("COLLECTION_NAME")

client = MongoClient(uri)
db = client[db_name]
collection = db[collection_name]

# MongoDB에서 데이터 불러오기
data = list(collection.find())

# DataFrame으로 변환
df = pd.DataFrame(data)

In [ ]:
df.head()

,_id,investSessionId,chapterId,childId,turn,riskLevel,currentPoint,beforeValue,currentValue,initialValue,numberOfShares,income,transactionType,plusClick,minusClick,startedAt,endedAt,_class
0,b'\x15MDz\xb6_di\xd7\xf8/\xa1\xeb\xe3\x15\xb1',b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xa1UUUUUUDD'","b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,고위험 고수익,1400,0,100,100,4,0,BUY,4,0,2025-06-05 18:15:22,2025-06-05 18:15:28,com.popoworld.backend.invest.entity.InvestHistory
1,"b'""C@9|\x18 \x17\xf7\xec\x8c\xd8\xdc\x92\x02\x8c'",b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xa1UUUUUUDD'","b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,균형형,1400,0,100,100,2,0,BUY,2,0,2025-06-05 18:15:22,2025-06-05 18:15:28,com.popoworld.backend.invest.entity.InvestHistory
2,"b'\x0bF\x95\x82\x13\xe4xs&,\xc8$\x93\xc1\x0c\x95'",b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xa1UUUUUUDD'","b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,장기 안정형,1400,0,100,100,0,0,KEEP,0,0,2025-06-05 18:15:22,2025-06-05 18:15:28,com.popoworld.backend.invest.entity.InvestHistory
3,b'[I\xdb*\xc9a\xed\xe9\x96c]\x01t\xdf\x94\xaf',b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xa1UUUUUUDD'","b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,균형형,1115,100,110,100,2,0,KEEP,0,0,2025-06-05 18:15:22,2025-06-05 18:15:30,com.popoworld.backend.invest.entity.InvestHistory
4,b'[M\xa6\xbf\xdb~\xe4\xb5\x0b6\x03\x9b&\xaf\x1...,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xa1UUUUUUDD'","b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,고위험 고수익,1115,100,90,100,4,0,KEEP,0,0,2025-06-05 18:15:22,2025-06-05 18:15:30,com.popoworld.backend.invest.entity.InvestHistory

# PostgreSQL에서 DataFrame으로 가져오기

In [ ]:
import pandas as pd
from dotenv import load_dotenv
import os
import psycopg2

load_dotenv()

# PostgreSQL 연결 정보
conn = psycopg2.connect(
    host=os.getenv("DB_HOST"),
    port=os.getenv("DB_PORT"),          
    dbname=os.getenv("DB_NAME"), 
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD") 
)

# SQL 쿼리 실행 후 DataFrame으로 불러오기
s_query = "SELECT chapter_id, seed_money FROM invest_chapter;"
# c_query = "SELECT child_id, sex, age FROM child;"
seed = pd.read_sql(s_query, conn)
# child = pd.read_sql(c_query, conn)

# 연결 종료
conn.close()

# 결과 확인
print(seed.head())
# print(child.head())

  chapter_id  seed_money
0       1111         700
1       2222        2000
2       3333        5000
3       4444       10000

/tmp/ipykernel_91247/3677121943.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  seed = pd.read_sql(s_query, conn)

In [13]:
seed.rename(columns={'chapter_id': 'chapterId'}, inplace=True)
seed.rename(columns={'seed_money': 'seedMoney'}, inplace=True)
seed.head()

  chapterId  seedMoney
0      1111        700
1      2222       2000
2      3333       5000
3      4444      10000

# 거래참여 턴 개수

In [26]:
tpt = df[['investSessionId', 
          'childId',
          'turn',
          'riskLevel',
          'transactionType']].copy()

tpt.head()

,investSessionId,childId,turn,riskLevel,transactionType
0,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,고위험 고수익,BUY
1,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,균형형,BUY
2,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,장기 안정형,KEEP
3,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,균형형,KEEP
4,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,"b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,고위험 고수익,KEEP

In [33]:
hold_flags = tpt.groupby(['investSessionId', 'childId', 'turn'])['transactionType'].apply(lambda x: int((x != "KEEP").any())).reset_index(name="notAllKeep")
hold_flags.head()

,investSessionId,childId,turn,notAllKeep
0,b'\x0e@\xa9\x8b\x1b)\x98\xf8<c\xd3+Q7\xc8\x94',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,0
1,b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,0
2,b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",2,0
3,b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",3,0
4,b'\x15M\x103S\xe6\xa0P\xa0\xea\xa4f\xfb\x12y\x95',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1,0

In [35]:
tradingTurn = hold_flags.groupby(['investSessionId', 'childId'])['notAllKeep'].mean().reset_index(name="avgNotKeep")
tradingTurn.head()

,investSessionId,childId,avgNotKeep
0,b'\x0e@\xa9\x8b\x1b)\x98\xf8<c\xd3+Q7\xc8\x94',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",0.000000
1,b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",0.000000
2,b'\x15M\x103S\xe6\xa0P\xa0\xea\xa4f\xfb\x12y\x95',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",0.000000
3,b'I@\xda\xdcr\xc6m\xa5%~\x81\xca\xaa\x83\xe8\xb7',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",0.428571
4,b'NLa\x97\xa2\xe5E\xf6q\x89\xcepzg:\x9b',"b'33""""\x11\x11\x11\xc1UUUUUUDD'",1.000000

# 거래횟수

In [20]:
nt = df[['investSessionId', 
          'turn',
          'riskLevel',
          'plusClick',
          'minusClick']].copy()

nt['click'] = nt['plusClick'] + nt['minusClick']

nt.head()

,investSessionId,turn,riskLevel,plusClick,minusClick,click
0,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,1,고위험 고수익,4,0,4
1,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,1,균형형,2,0,2
2,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,1,장기 안정형,0,0,0
3,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,2,균형형,0,0,0
4,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,2,고위험 고수익,0,0,0

In [21]:
transactionNum = nt.groupby('investSessionId')[['click']].mean().reset_index()
transactionNum.head()

                                     investSessionId     click
0     b'\x0e@\xa9\x8b\x1b)\x98\xf8<c\xd3+Q7\xc8\x94'  2.000000
1     b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6'  0.000000
2  b'\x15M\x103S\xe6\xa0P\xa0\xea\xa4f\xfb\x12y\x95'  0.000000
3  b'I@\xda\xdcr\xc6m\xa5%~\x81\xca\xaa\x83\xe8\xb7'  1.238095
4           b'NLa\x97\xa2\xe5E\xf6q\x89\xcepzg:\x9b'  1.500000

# 평균 현금잔여율

In [22]:
acr = df[['investSessionId', 
          'chapterId',
          'turn',
          'currentValue']].copy()

acr = acr.groupby(['investSessionId', 'chapterId', 'turn'])['currentValue'].mean().reset_index(name='avgCurrentValue')

acr.head()

,investSessionId,chapterId,turn,avgCurrentValue
0,b'\x0e@\xa9\x8b\x1b)\x98\xf8<c\xd3+Q7\xc8\x94',"b'33""""\x11\x11\x11\xa1UUUUUUDD'",1,100.000000
1,b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6',"b'33""""\x11\x11\x11\xa1UUUUUUDD'",1,100.000000
2,b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6',"b'33""""\x11\x11\x11\xa1UUUUUUDD'",2,98.333333
3,b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6',"b'33""""\x11\x11\x11\xa1UUUUUUDD'",3,98.333333
4,b'\x15M\x103S\xe6\xa0P\xa0\xea\xa4f\xfb\x12y\x95',"b'33""""\x11\x11\x11\xa1UUUUUUDD'",1,100.000000

In [ ]:
# acr_merged = acr.merge(seed, on='chapterId', how='left')
# acr_merged.head()

In [ ]:
# acr_merged['diff'] = acr_merged['seed_money'] - acr_merged['avg_current_value']

# averageCashRatio = acr_merged.groupby('investSessionId')['diff'].mean().reset_index(name="avgDiff")

# averageCashRatio.head()

# 평균 턴 체류시간

In [ ]:
# 평균 턴 체류시간
turn = df[['investSessionId', 
                'turn',
                'startedAt',
                'endedAt']].copy()

,investSessionId,turn,startedAt,endedAt
0,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,1,2025-06-05 18:15:22,2025-06-05 18:15:28
1,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,1,2025-06-05 18:15:22,2025-06-05 18:15:28
2,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,1,2025-06-05 18:15:22,2025-06-05 18:15:28
3,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,2,2025-06-05 18:15:22,2025-06-05 18:15:30
4,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,2,2025-06-05 18:15:22,2025-06-05 18:15:30

In [ ]:
avgStayTime = turn.drop_duplicates(subset=['investSessionId', 'turn']).copy()

,investSessionId,turn,startedAt,endedAt
0,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,1,2025-06-05 18:15:22,2025-06-05 18:15:28
3,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,2,2025-06-05 18:15:22,2025-06-05 18:15:30
6,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,3,2025-06-05 18:15:22,2025-06-05 18:15:32
9,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,4,2025-06-05 18:15:22,2025-06-05 18:15:34
12,b'\xe6@\x80\xa9\x0c\x83G\x1bv@\xc3\xd0D\xa4\x1...,5,2025-06-05 18:15:22,2025-06-05 18:15:47

In [ ]:
avgStayTime['stayTime'] = (avgStayTime['endedAt'] - avgStayTime['startedAt']).dt.total_seconds()
avgStayTime.drop(columns=['startedAt', 'endedAt'], inplace=True)

avgStayTime = avgStayTime.groupby('investSessionId')['stayTime'].mean().reset_index(name='avgStayTime')

                                     investSessionId  avgStayTime
0     b'\x0e@\xa9\x8b\x1b)\x98\xf8<c\xd3+Q7\xc8\x94'    23.000000
1     b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6'   168.333333
2  b'\x15M\x103S\xe6\xa0P\xa0\xea\xa4f\xfb\x12y\x95'    12.142857
3  b'I@\xda\xdcr\xc6m\xa5%~\x81\xca\xaa\x83\xe8\xb7'    12.000000
4           b'NLa\x97\xa2\xe5E\xf6q\x89\xcepzg:\x9b'   179.500000

# 전체 병합

In [ ]:
merged = tradingTurn.merge(transactionNum, on='investSessionId', how='inner').merge(averageCashRatio, on='investSessionId', how='inner').merge(avgStayTime, on='investSessionId', how='inner')
merged.head()

,investSessionId,avgNotHold,click,avgStayTime
0,b'\x0e@\xa9\x8b\x1b)\x98\xf8<c\xd3+Q7\xc8\x94',1.0,2.000000,23.000000
1,b'\x11NO\xf1D\x90\xa8G\xcb\xc5\xce[t0\xcf\xb6',1.0,0.000000,168.333333
2,b'\x15M\x103S\xe6\xa0P\xa0\xea\xa4f\xfb\x12y\x95',1.0,0.000000,12.142857
3,b'I@\xda\xdcr\xc6m\xa5%~\x81\xca\xaa\x83\xe8\xb7',1.0,1.238095,12.000000
4,b'NLa\x97\xa2\xe5E\xf6q\x89\xcepzg:\x9b',1.0,1.500000,179.500000